.App{
  position: relative;
  overflow-x: clip;
  background-color: white;
}
.App>:nth-child(1)
{
  background: var(--gray);
  position: relative;
}
.white-gradient{
  position: absolute;
  width: 20rem;
  height: 20rem;
  /* background: rgba(255, 255, 255, 0.522); */
  /* background: rgba(255, 252,127, 1); */
  background: rgba(243, 156, 18, 1);
  filter: blur(150px);
  border-radius: 100px;
}